{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/style.css' %}">
    
    <title>
      
        {% block page %}
        {% endblock page %}
    
    </title>
</head>
<body>
    <nav class="nav-main">
        

        
        
        

        {% if request.user.is_authenticated %}
            <a class="desc-link-nav"   href="{% url 'newblog' %}">Generate</a>
            
             <!--
             <a class="desc-link-nav"   href="{% url 'inbox' request.user.profile.id %}">My Inbox</a>
             <a class="desc-link-nav"   href="{% url 'profile'%}">Following</a>
            -->
             <a class="desc-link-nav"   href="{% url 'show-profile' request.user.profile.id %}">@{{request.user.username}}</a>
            
            <a class="desc-link-nav"   href="{% url 'logout' %}">Sign Out</a>
            
        {% else %}
            <a class="desc-link-nav"   href="{% url 'login' %}">Sign In</a>
        
        {% endif %}
    
    
    
    </nav>
    <a class="desc-link-nav"  href="{% url 'home' %}">

        <h3><img src="{%static 'images/hub.png' %}" width="40px" alt="">?rāśna</h3>

    </a> 


    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} {% endif %}
        {{ message }}
    </li>
    {% endfor %}
    </ul>

{% endif %}
    
    {% block main %}
    
    
    {% endblock main %}
    
</body>
</html>

